:root {
  primary-font-family: "Roboto", sans-serif;
  secondary-font-family: "Raleway", sans-serif;
  primary-text-main: #212121;
  secondary-text-main: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}
.menu-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-list-item:hover,
.menu-list-item:focus {
  color: #2196f3;
}

.contact-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-item:hover,
.contact-item:focus {
  color: #2196f3;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: #ffffff;*/
}
.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  /*color: #ffffff;*/
}

.modal-btn:hover,
.modal-btn:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
